<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!test"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="test">
  <thead>
    <tr>
      <th>Draw number</th>
      <th>Product Id</th>
      <th>Display name</th>
      <th>Draw date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let resp of test">
      <td>{{ resp.drawNumber }}</td>
      <td><img src={{resp.drawLogoUrl}}></td>
      <td>{{ resp.drawDisplayName }}</td>
      <td>{{ resp.drawDate | date:'dd/MM/yyyy'}}</td>
    </tr>
  </tbody>
</table>
