<h1>Hello, welcome to the Lotto!</h1>
<p>Utilise the below filters to begin exploring the data available.</p>

<app-company-filter [selectedCompany]="selectedCompany" (companyChangedEvent)="updateCompanyValues($event)"></app-company-filter>
<app-product-filter [selectedProduct]="selectedProduct" (productChangedEvent)="updateValues($event)"></app-product-filter>

<input class="btn btn-primary" type="reset" value="Reset" (click)="resetInput()">

<p *ngIf="error"><em class=".text-danger">{{errorText}}</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="drawData">
  <thead>
    <tr>
      <th>Display name</th>
      <th>Draw date</th>
      <th>Draw number</th>
      <th>Jackpot value</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let draw of drawData">
      <td>{{ draw.drawDisplayName }}</td>
      <td>{{ draw.drawDate | date:'dd/MM/yyyy'}}</td>
      <td>{{ draw.drawNumber }}</td>
      <td>{{ draw.div1Amount | currency }}</td>
    </tr>
  </tbody>
</table>
